<form [formGroup]="formData" novalidate (ngSubmit)="submit(form)">
  <div>
    <label for="firstname">first name</label>
    <input type="text" name="firstname" formControlName="firstName" />
    <!-- <span class="error" [myError]="formData.get('firstName')">*require</span> -->
  </div>
  <div>
    <label for="lastname">last naem</label>
    <input type="text" name="lastname" formControlName="lastName" required />
    <span class="error" *ngIf="formData.controls?.lastName?.errors">*require</span>
  </div>
  <div>
      <label for="phone">phone</label>
      <input type="phone" name="phone" formControlName="phone" required />
      <span class="error" *ngIf="formData.controls?.phone?.errors">*require</span>
  </div>
  <button type="submit" [disabled]="formData.invalid">Submit</button>

  <div>
    <label for="search">keyword</label>
    <input name="search" type="text" formControlName="search">
  </div>
  <label>
    <input type="checkbox" formControlName="canAPI">打api
  </label>
  <button type="button">search</button>
  <button type="button" (click)="reload()">reload</button>

  <ul>
    <li *ngFor="let item of searchResult$ | async">
      {{item}}
    </li>
  </ul>
</form>
