<form [formGroup]="formData" novalidate (ngSubmit)="submit(form)">
  <div>
    <label for="firstname">first name</label>
    <input type="text" name="firstname" formControlName="firstName" />
    <span class="error" *ngIf="formData.controls?.firstname?.errors">*require</span>
  </div>
  <div>
    <label for="lastname">last naem</label>
    <input type="text" name="lastname" formControlName="lastName" required />
    <span class="error" *ngIf="formData.controls?.lastName?.errors">*require</span>
  </div>
  <div>
      <label for="phone">phone</label>
      <input type="phone" name="phone" formControlName="phone" required />
      <!-- <span class="error" *ngIf="form.controls?.phone?.errors">*require</span> -->
  </div>
  <button type="submit" [disabled]="formData.invalid">Submit</button>
</form>